.home__about_cover_blog {
  position: relative;
  z-index: z("default");
  background-color: #fff;
  overflow-x: hidden;
  height: auto;
  overflow: hidden;
}

.home__about_cover {
  position: relative;
  z-index: z("default");
  background-color: #fff;
  overflow-x: hidden;
  height: 420px;
  overflow: hidden;
  .board-flex-grid {
    display: flex;
    margin: 0 auto !important;
    width: 97%;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .board-flex-col {
    flex: 2;
    margin-left: 5px;
    margin-right: 5px;
    flex-basis: 30%;
    min-width: 360px;
    max-width: 360px;
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .media-object-board {
    display: flex;
    align-items: flex-start;
    background: white;
    max-width: 1220px;
    justify-content: center;
  }
  .hover-box-content {
    position: relative;
    margin-bottom: 0;
    min-height: 160px;
    width: 100%;
    background: #f2f2f2;
  }
  .box-content-image {
    height: 160px;
    width: 160px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .box-content {
    min-height: 0;
    margin-left: 180px;
    padding: 15px 0 20px 0;
  }
  .board-loc {
    font-size: 14px;
    color: #E91E63;
    font-family: 'AvantGarde';
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .board-mod {
    font-family: 'AvantGarde' !important;
    font-size: 20px !important;
    color: #716b70;
    margin-bottom: 5px !important;
    line-height: 1.2 !important;
  }
  .about-about-desc {
    display: block;
    font-size: 16px;
    font-family: "Avenir", Helvetica, sans-serif;
    line-height: 1.6;
    letter-spacing: .6px;
    text-transform: none;
    -webkit-tap-highlight-color: #7C4DFF;
    font-weight: 400;
  }
  .board-about-about-board-desc {
    display: block;
    font-size: 13px;
    font-family: "AvantGarde", Helvetica, sans-serif;
    line-height: 1.4;
    letter-spacing: .6px;
    text-transform: none;
    -webkit-tap-highlight-color: #7C4DFF;
    font-weight: 100;
    text-transform: uppercase;
  }
  .cover__content {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
    text-align: center;
    padding-top: vheight(55);
    z-index: z("default");
    background: url('../images/one.jpg');
    background-size: cover;
    background-position: top center;
  }
  .about_cover__content {
    position: relative;
    height: 350px !important;
    overflow: hidden;
    text-align: center;
    padding-top: 500px;
    z-index: z("default");
    background: url('../images/one.jpg');
    background-size: cover;
    background-position: top center;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-image: linear-gradient(-106deg, rgba(0, 0, 0, .5) calc((1140px / 1.8) + ((100vw - 1180px)/ 2)), transparent 0);
    }
  }
  .background__img {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: auto;
    object-fit: cover;
    object-position: bottom;
  }
  .cover__flag {
    position: absolute;
    top: 0;
    right: -2px;
    z-index: z("default") +1;
  }
  .cover__spider {
    position: absolute;
    height: 40vmin;
    left: 50%;
    bottom: vheight(50);
    transform: translateX(-50%);
    .spider__image {
      width: auto;
      height: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100vh;
      top: 20%;
      left: calc(50% - 2px);
      opacity: .3;
      background-color: $black;
      transform: translate(-50%, -100%);
    }
  }
  .cover__logo {
    width: 80vmin;
    height: auto;
    max-width: 90%;
    path {
      fill: $blue;
    }
  }
  h2 {
    max-width: 80%;
    font-size: 6rem;
    line-height: 1.2em;
    font-family: Lato, Arial, sans-serif;
    font-weight: 200;
    line-height: 1;
    color: white;
    margin: 10px auto 30px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
    font-family: "Ek Mukta", Arial, sans-serif;
    opacity: 1;
    letter-spacing: normal;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-align: center;
  }
  .cover__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80vmin;
    height: 80vmin;
    background-color: $clearblue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: z("below");
  }
  @include mq($min-height: 800px,
  $orientation: landscape) {
    .cover__content {
      padding-top: calc(55vh - 40px);
      &:before {
        height: 30vh;
      }
    }
    .cover__circle {
      width: 730px;
      height: 730px;
    }
    h2 {
      width: 620px;
    }
    .cover__logo {
      width: 715px;
    }
    .cover__spider {
      bottom: calc(48vh - 40px);
      height: 350px;
    }
  }
  @include mq($max-height: 500px,
  $orientation: landscape) {
    display: table;
    width: 100%;
    .cover__content {
      background-color: $clearblue;
      padding-top: 0;
      text-align: left;
      display: table-cell;
      vertical-align: middle;
    }
    h2 {
      margin: 20px 0;
      font-size: 4rem;
      max-width: 60%;
    }
    .cover__logo {
      width: 60%;
    }
    .cover__spider {
      left: 80%;
      top: 30vh;
      max-width: 20%;
    }
  }
  @include mq($max-width: 600px,
  $orientation: portrait) {
    .cover__flag {
      display: none;
    }
    .cover__content {
      background-color: $clearblue;
      padding: 40vh 0 0;
    }
    h2 {
      max-width: 90%;
    }
    .cover__spider {
      height: 30vh;
      top: 8vh;
    }
    .cover__logo {
      width: 100%;
    }
    .cover__buttons {
      .btn {
        width: 100%;
        margin: 0 0 10px;
        .button__content {
          min-width: 80%;
        }
      }
    }
  }
  @include mq($max-width: $vw-small) {
    h2 {
      font-size: 3rem;
      margin: 10px auto 15px;
    }
    .cover__logo {
      display: none;
    }
    .cover__content {
      height: calc(100vh - #{$mobileHeaderH} - 30px);
    }
  }
  @include mq($max-width:760px) {
    .about_cover__content {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(-90deg, rgba(0, 0, 0, .5) calc(100vw), transparent 0);
      }
    }
  }
}

