.carousel .slide {
    background-color: transparent !important;
}

.image {
  min-width: 50px !important;
}

.home__ecosystem {
  z-index: z("default");
  text-align: center;
  background-color: $white;

.outer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-image {
  padding-left: 15px;
  padding-right: 15px;
}

.image {
  min-width:360px;
}

.about-desc {
  display: block;
  font-size: 32px;
  letter-spacing: .5px;
  line-height: 35px;
  font-family: 'AvantGardeLight', sans-serif !important;
  text-transform: uppercase;
  -webkit-tap-highlight-color: #7C4DFF;
  font-weight: 100;
}
.deep-purple-text {
  color: #7C4DFF;
}
.card-text-left {
  padding-left: 15px;
  padding-right: 70px;
}
.card-text-right {
  padding-left: 70px;
  padding-right: 15px;
}

.row-heading {
  display: block;
  margin-bottom: 20px;
  font-family: 'AvantGarde';
}
.small-text {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.uppercase {
  text-transform: uppercase;
}




.media-object {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  padding: 1rem;
  width: auto;
  max-width: 1220px;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
}
  .media-object>img {
    margin-left: 20px;
    margin-right: 20px;
  }

  .media-object>div {
    flex: 1;
    text-align: left;
  }

  .media-object h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
  }



.header-cta {
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 20px;
    padding-right: 20px;
    background: #7C4DFF;
    color: #fff;
    font-size: 16px;
    letter-spacing: .6px;
    margin-bottom: 13px;
  }

  .header-cta a {
    position: relative;
    padding-bottom: .1875rem;
    color: #F8BBD0;
    white-space: nowrap;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  .header-cta a:after {
    content: "";
    background: #6acdb1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
  }


  .grid__item {
    padding: 25px;
    width: 33.33%;
  }

  .ecosystem__title {
    strong {
      color: $blue;
    }
  }

  .ecosystem__card {
    h3 {
      margin-top: 15px;
      color: #7C4DFF;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "Roboto", sans-serif;
      font-weight: 400 !important;
    }

    p {
      margin: 20px 0;
    }

    .card__circle {
      background-color: $clearblue;
      border-radius: 50%;

      img {
        width: 100%;
        max-width: 250px;
        height: auto;
      }
    }
  }
  @include mq($min-width: $vw-large+1) {
    .grid__item.full {
      width: 100%;
    }

    .ecosystem__card {
      &.big {
        text-align: left;
        width: 90%;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;

        h3 {
          font-size: 2.8rem;
          margin-top: 0;
          color: #7C4DFF;
          text-transform: uppercase;
          letter-spacing: 1px;

        }

        .card__circle {
          height: 300px;
          flex: 0 0 300px;

          img {
            max-width: 100%;
          }
        }

        .card__content {
          flex: auto;
          padding-left: 50px;
          text-align: left;
        }

        .ecosystem__button {
          text-align: left;

          .button__content {
            font-size: 1.8rem;
            padding: 12px;
          }
        }
      }
    }
  }
  @include mq($max-width: $vw-large) {
    .grid__item {
      padding: 15px;
      width: 50%;
      min-width: 350px;
      max-width: 400px;
    }
  }
  @include mq($max-width: $vw-small) {
    .grid__item {
      padding: 10px;
      width: 100%;
      max-width: 380px;
      min-width: auto;
    }
  }
}

.ant-tabs-tab-active {
  color: white !important;
}
